.burger-button {
    display: none; /* Hide by default on desktop */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    gap: 7px;
    height: 20px;
    width: 25px;
}

.bar {
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    transition: all 1s ease;
}

.bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .bar.open:nth-child(2) {
    opacity: 0;
  }
  .bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

@media (max-width: 767px) {
  .burger-button {
    display: flex;
    flex-direction: column;
  }
  /* .nav-links {
    display: hide;
  } */
}

