.nav-bar {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    background: black;
    width: 100%;
    height: 20px;
    
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style-type: none;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Courier New', monospace; /* Code-like font */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.logobeg,
.logoend {
    color: var(--primary-blue);
    transition: color 0.3s ease;
}

.logomid {
    color: var(--primary-lavender);
    font-weight: 700;
    transition: color 0.3s ease;
}